doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Cool article section indicator
    body 
        header
            nav.nav 
                .logo   
                    h1 MDN web docs 
                        span _
                ul.nav_list 
                    li 
                        a(href="#") References
                    li 
                        a(href="#") Guides
                    li 
                        a(href="#", class="up") Updates 
                            sup .
                    li.button 
                        a(href="#") Get MDN Plus 
            main.main
                .container
                        section.main-section.has_auto_margin
                            h1 Protocols 
                            p. 


                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid perspiciatis quidem excepturi doloremque 
                                        incidunt rem sint quasi cum, blanditiis et at, nostrum sunt tempora? Nobis aut fuga natus in, at fugiat eveniet suscipit. Porro animi sequi, q
                                        uod illo numquam dicta reiciendis nobis harum in asperiores repellendus doloribus reprehenderit deleniti. Est accusamus, eveniet impedit tenetur possimus
                                        quos sed a dicta sint ipsa porro ut laboriosam perferendis, odit eos delectus et laudantium mollitia nostrum iste molestiae! Inventore aut expedita natus repudiandae quidem, 
                                        numquam perspiciatis vitae, ipsum sunt, quae omnis molestias. Ut, illo!

                        aside.sidebar 
                            h3 In this article
                            p.see_also.active  See Also
                .container
                        section.see_section
                                    h2 See Also 
                                    p.              


                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nobis similique quis tempora recusandae! Nihil, saepe doloremque! Soluta sint alias accusamus! Harum assumenda earum, 
                                                ipsum odit adipisci perferendis dicta nemo!
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, qui! Id veritatis adipisci esse in asperiores quis officia quasi autem, quod quas. Inventore odit porro, dolore assumenda autem aut minima?
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nobis similique quis tempora recusandae! Nihil, saepe doloremque! Soluta sint alias accusamus! Harum assumenda earum, 
                                                ipsum odit adipisci perferendis dicta nemo!
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, qui! Id veritatis adipisci esse in asperiores quis officia quasi autem, quod quas. Inventore odit porro, dolore assumenda autem aut minima?
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nobis similique quis tempora recusandae! Nihil, saepe doloremque! Soluta sint alias accusamus! Harum assumenda earum, 
                                    
                                    p.         


                                                 ipsum odit adipisci perferendis dicta nemo!
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, qui! Id veritatis adipisci esse in asperiores quis officia quasi autem, quod quas. Inventore odit porro, dolore assumenda autem aut minima?
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nobis similique quis tempora recusandae! Nihil, saepe doloremque! Soluta sint alias accusamus! Harum assumenda earum, 
                                                ipsum odit adipisci perferendis dicta nemo!
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, qui! Id veritatis adipisci esse in asperiores quis officia quasi autem, quod quas. Inventore odit porro, dolore assumenda autem aut minima?
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nobis similique quis tempora recusandae! Nihil, saepe doloremque! Soluta sint alias accusamus! Harum assumenda earum, 
                                                ipsum odit adipisci perferendis dicta nemo!
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, qui! Id veritatis adipisci esse in asperiores quis officia quasi autem, quod quas. Inventore odit porro, dolore assumenda autem aut minima?
            script(src="/scripts.js") 