*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* General */
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B5178;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}

main .container {
  width: 80%;
  max-width: 600px;
  background-color: #0B5178;
  box-shadow: 3px 3px 7px rgb(0 0 0 / .2),
  -3px -3px 10px rgb(255 255 255 / .1) ;
  margin: 3em auto;
  padding: 2em;
  text-align: center;
  border-radius: 10pt;
}

.container > h1 {
 
  text-align: left;
}

.container > .author {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.author > .author-image img {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 1em;
}

.author > .author-text {
  text-align: left;
}

.author-text > h3 {
  margin-bottom: 0.3em;
  font-weight: 600;
}


.author-text p:first-of-type {
  font-weight: 500;
}

.author-text p + p {
  margin-top: 0.3em;
  font-weight: 100;
  font-size: 0.8rem;
}

/* Blog Post */
.blog-post_image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blog-post_image > figcaption {
  text-align: left;
  margin-top: 0.5em;
  font-size: 1.2rem;
}

.blog-post_image img {
  max-width: 100%;
  margin-top: 2em;
  width: 600px;
  height: 400px;
  object-fit: cover;
  border: thin solid #fff;
}

/* Brief */
.brief {
  margin-top: 2em;
  text-align: left;
  width: 80%;
  padding: 1.5em;
}

.brief h2 {
  margin-bottom: 0.5em;
  font-size: 32px;
}

.brief > p {
  font-size: 1.2rem;
  line-height: normal;
}

/* Conclusion */
.conc {
  margin-top: 2em;
  text-align: left;
  width: 80%;
  padding: 1.5em;
}

.conc h2 {
  margin-bottom: 0.5em;
  font-size: 32px;
}

.conc > p {
  font-size: 1.2rem;
  line-height: normal;
}

/* Follows us section */
.follow-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.follow-us > .social {
  margin-top: 1em;
  display: flex;
  gap: 3em;
}

.social > li {
  list-style: none;
  border: 2px solid #fff;
  padding: 0.5em;
  border-radius: 50%;
  /* width: 10px;
  height: 10px; */
}

.social li a {
  color: #fff;
}